<nav class="navbar navbar-light" style="background-color: #739dbb;">
  <h3>The Tech Blog</h3>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
    </li>
    {{#if logged_in}}
    <li class="nav-item">
      <a class="nav-link" href="#" id="/logout">Log out</a>
    </li>
    {{else}}
    <li class="nav-item">
      <a class="nav-link" href="#" id= "/login">Log In</a>
    </li>
    {{/if}}




  </ul>
</nav>