{{>header}}
{{!-- <h1> {{#if loggedIn}}</h1> --}}
<p >Welcome back {{username}}</p>
{{#each hbsBlogs}}
<h3>{{title}}</h3>
<p>{{body}}</p>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  <button type="button" class="btn btn-dark" id="comment">Comment</button>
</div>
<hr>
{{/each}}
{{!-- {{/if}} --}}