<h2>Login</h2>
<form action="" id=""login>
    <input type="text" placholder="username" id="loginUsername">
    <input type="text" placholder="password" id="loginPassword" type="password">
    <button>Login!</button>
</form>
<h2>Signup</h2>
<form action="" id="signup">
    <input type="text" placholder="username" id="signupUsername">
    <input type="text" placholder="password" id="signupPassword" type="password">
    <button>Login!</button>
</form>
<script src="/js/login.js"></script>